# Capstone Meeting 1

### Brief 90-second Elevator Pitch
- There is a great amount of scientific evidence and support that climate change has impacted the growing seasons of important food commodities 
- This in turn would impact the cost of these commodities
- Many companies who depend on grown commodies for their product lines are aware of this issue but don't necessarily understand how this imact will trickle down into their sales.
    - things will cost more to produce
    - they may have to raise prices
    - but will consumers and stock holders change their habits????
- I woud like to try and understand if this climate change impact can be seen in the stock market

- The goal of this project is to determine if a case can be made to support that climate change in some way impacts the stock market through analyzing the relationship between: 
    - climate factors
        - temp
        - precip
    - comodity stock pricing
        - CORN
        - WEAT
        - CANE
    - and company stock pricing
        - HSY: The Hershey Company
        - SJM: The J.M. Smucker Company
        - GIS: General Mills 
        - PEP: PepsiCo
        - CPB: Campbell Soup Company


- look at companies to see if they ahve changed the size of their products insread of changing prices--responding to change in commodity pricing without changing the stock market. 
    
### What you’re interested in
- climate change 
- a lot of research on how cliamte chnage is effecting growing cyclces for many important commodity crops
- NOT alot of research on how this can/ if it effects the stock market

- Can climate chnage effect the stock market or will the desire for consumption allow stock to remain unchnaged
- At what point will consumption cause a food security issue because crop output can no longer be as strong as it once was? ---this will ot necessarily be answered in this project but its an interesting point to consider

### Where’s the data coming from
- years 2012 through 2019
- Climate Data: taken from National Centers for Environmental Information (NOAA), NASA-get link
- Stock Data: taken from Yahoo Finance

- toal data: 45 features, 2012 rows

In [1]:
import pandas as pd

# Load in data
#'Year' was dropped from dataframe because it was redundant to date
data = pd.read_csv('Capstone_Data_Edit.csv')
data = data.drop(['Year'], axis=1)
data_copy = data

data_copy.head(5)

,Date,Month,Temp_Anamoly,Avg_Temp_F,Avg_Precip_In,CORN_Open,CORN_High,CORN_Low,CORN_Close,CORN_Volume,...,PEP_Open,PEP_High,PEP_Low,PEP_Close,PEP_Volume,CPB_Open,CPB_High,CPB_Low,CPB_Close,CPB_Volume
0,1/3/12,January,0.5,36.12,2.09,42.73,42.99,42.18,42.62,"114,100",...,66.86,67.19,66.36,66.40,"5,348,800",33.50,33.69,32.93,32.98,"1,854,500"
1,1/4/12,January,0.5,36.12,2.09,42.79,42.95,42.20,42.51,"43,900",...,66.41,66.84,66.12,66.74,"6,042,400",33.00,33.18,32.66,32.73,"1,721,200"
2,1/5/12,January,0.5,36.12,2.09,42.25,42.25,41.35,41.51,"87,400",...,66.58,66.67,66.12,66.22,"4,909,100",32.69,32.73,31.80,31.81,"4,621,400"
3,1/6/12,January,0.5,36.12,2.09,41.72,41.80,41.26,41.35,"31,000",...,66.27,66.27,65.29,65.39,"6,533,000",31.75,31.83,31.22,31.45,"4,981,500"
4,1/9/12,January,0.5,36.12,2.09,42.05,42.52,41.87,42.19,"153,700",...,65.26,65.83,65.01,65.73,"5,859,600",31.53,31.91,31.50,31.83,"1,759,800"

In [2]:
#45 rows(features)
#2012 columns
data_copy.shape

(2012, 45)

### SME
- Nicole Whitney: R&D Laboratory Manager
- Gretchan Mueller: R&D Laboratory Technician
- both are considered cliamte change experts within our department as they update their research quarterly

### Advisor
- Dr. Lin Lu

### Classes Being Used
- BA505: Pyhon
- BA 540: Business Intelligence----Tableau